<header>
  <nav>
    <ul>
      <% if (user) { %> <!-- If the user is logged in, show logout -->
        <li>Logged in as: <%= user.email %></li>
        <form action="/logout" method="POST">
          <button type="submit">Logout</button>
        </form>
      <% } else { %> <!-- If the user is not logged in, show login and register links -->
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
      <% } %>
    </ul>
  </nav>
</header>
