<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>TinyApp</title>
  </head>
  <body>
    <%- include('partials/_header', { user: user }) %>
    
    <h1>My URLs</h1>
    <table>
      <thead>
        <tr>
          <th>Short URL ID</th>
          <th>Long URL</th>
        </tr>
      </thead>
      <tbody>
        <% for (let shortURL in urls) { %>
          <tr>
            <td><%= shortURL %></td>
            <td><%= urls[shortURL] %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
